.page-home {
    @include media-breakpoint-up(md) {
        margin-top: 120px;
    }

    h5 {
        font-weight: 300;
        margin-bottom: 15px;
    }

    .store-gallery {
        margin-top: 20px;
    }
}
